<div class="component-events-bar">
	<div class="events-bar-overlay">
	</div>
	<div class="container">
		<div class="events-bar-overlay-text">
			<h2>Events</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, aliquam, soluta? Ullam quaerat, assumenda officiis quidem. Placeat perspiciatis voluptatibus nihil officiis mollitia nobis, beatae, blanditiis laudantium nesciunt voluptates, obcaecati magnam, molestiae ipsa?</p>

			<a href="/events" class="btn btn-primary">View All Events</a>
		</div>
	</div>
</div>
