<div class="component-reveal-footer">
	<ul>
		<li>
			<img src="../images/placewise-logo.png" alt="Placewise Media">
		</li>
		<li>
			<img src="../images/cypress-logo.png" alt="Cypress">
		</li>
	</ul>
</div>
