<div class="component-social-bar">
	<div class="overlay">

		<div class="container">
			<div class="overlay">
				<ul>
					<li>
						<i class="fa fa-facebook"></i>
					</li>
					<li>
						<i class="fa fa-twitter"></i>
					</li>
					<li>
						<i class="fa fa-pinterest"></i>
					</li>
					<li>
						<i class="fa fa-instagram"></i>
					</li>
				</ul>
			</div>
		</div>

	</div>
</div>
