<header role="banner" class="header-banner">
	<div class="container">
		<div class="mall-logo">
			<a href="{{ site.baseurl }}">
				<img src="../images/mall-logo.png" alt="{{ site.mall-name }}">
			</a>
		</div>
	</div>
</header>
