// =Header
$header-bg: rgba($color-white, $site-alpha);
$header-border-color: $color-light-grey;
$header-color: $base-font-color;
$header-link: $base-link-color;
$header-link-hover: $base-link-color-hover;
$header-pattern: 'path/to/pattern.png';
