.component-social-bar {
	.container	{
		background-image: url(../../images/social-images.jpg);
		background-repeat: no-repeat;
	}

	.overlay {
		background-color: rgba($color-brand-primary, .85);
	}

	ul {
		@include padding(($base-spacing*3) 0);
		@include horizontal-list;
		margin: 0;
		text-align: center;

		li {
			@include border-radius(50%);
			@include size(50px);
			display: inline-block;
			margin-right: 1em;
			background-color: $color-white;

			&:last-of-type {
				margin: 0;
			}
		}
	}

	i {
		color: $color-white;
	}
}
