{{> head }}
<div class="outer-wrapper">
	<div class="inner-wrapper">

		{{> header }}
		{{> banner }}

		<div class="reveal-wrapper">
			{{> deals-bar }}
			{{> social-bar }}
			{{> events-bar }}
			{{> adblock }}

			{{> footer }}
		</div>

		{{> reveal-footer }}

	</div>
</div>
{{> foot }}
